<h3> <i class="fas fa-code"></i> CODE SNIPPET</h1>
<div class="section"> 
    <p>Save your favourite public and private Code Snippet</p>
</div>
<div class="divider"></div>
<div class="section"> 
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"> log In with google</i>
    </a>
</div>
